@media screen and ( max-width: 980px) {
	body{
		width: 100%;
	}
	nav,#navbar{
		width: 800px;
		margin:auto;
	}
	main{
		width: 800px;
		margin:auto;
	}
	.galerie img{
		width: 150px;
		height: 150px;
	}
	footer{
		width: 800px;
		margin:auto;
	}
	.logo img{
		width: 700px;
	}
}